<div>
  <div>
    <div>
      <%= @user.full_name %>'s Timeline
    </div>
    <% @user_posts.each do |post| %>
      <%= render 'users_post', post: post %>
    <% end %>
  </div>
</div>

<div>
  <div >
    <%= image_tag(@user.profile_image.attached? ? @user.profile_image : 'default_pic.png') %>
  </div>
  <div >
    <%= @user.full_name %>
  </div>
  <div >
    Bio: <%= @user.bio %>
  </div>
  <div >
    Gender: <%= @user.gender %>
  </div>
  <div >
    Location: <%= @user.location %>
  </div>
  <div>
    <% if @user.birthday %>
      Age: <%= ((Time.zone.now - @user.birthday.to_time) / 1.year.seconds).floor %>
    <% end %>
  </div>
</div>

<div>
  <% if @user == current_user %>
    <% if [@user.bio, @user.location, @user.gender, @user.birthday].any?(&:blank?) %>
      <%= link_to "Finish Profile", edit_users_profile_path(@user) %>
    <% else %>
      <%= link_to "Edit Profile", edit_users_profile_path(@user) %>
    <% end %>
  <% end %>
</div>