<div>
  <%= form_with url: search_friend_friend_requests_path, method: :get  do |form| %>
    <%= form.text_field :name, placeholder: "First/last/full name", required: true %>
    <%= form.submit "Search" %>
  <% end %>
</div>

<div>
  <% if flash[:search_message] %>
    <p><%= flash[:search_message] %></p>
    <% if @name_search_results %>
      <% @name_search_results.each do |user| %>
        <p><%= link_to "#{user.first_name} #{user.last_name}", users_profile_path(user) %></p>
        <% if user == current_user %>
          <p>This is you.</p>
        <% elsif current_user.friends.include?(user) %>
          <p>This user is already in your friend list.</p>
        <% else %>
          <% friend_request = current_user.sent_friend_requests.find_by(receiver: user) %>
          <% if friend_request %>
            <%= button_to "Cancel request", friend_request_path(friend_request), method: :delete %>
          <% else %>
            <%= button_to "Add friend", friend_requests_path(receiver_id: user.id), method: :post %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  People You May Know
</div>
<div>
  <% @users.each do |user| %>
    <%= render 'user', user: user %>
  <% end %>
</div>