<!DOCTYPE html>
<html>
  <head>
    <title>Book Face</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1 >
    <%= link_to 'Book Face', root_path, class: 'glow-link' %>
  </h1>
  <div>
    <% if !user_signed_in? %>
    <% else %>
      <div>
        <div>
          <%= "Currently signed in as: #{current_user.full_name}" %>
        </div>
        <div>
          <%= link_to "Edit account", edit_user_registration_path %>
        </div>
        <div>
          <%= link_to "Profile" %>
        </div>
        <%= button_to "Log Out", destroy_user_session_url, method: "delete" %>
      </div>
    <% end %>
  </div>
  <% if alert || notice %>
    <div >
      <div >
        <% if notice %>
          <p  role="alert"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p  role="alert"><%= alert %></p>
        <% end %>
      </div>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
